.shop {
  display: grid;
  grid-gap: 1rem;
  @media (min-width: rem(600)) {
    grid-template-columns: 1fr 20rem;
  }
}

.products {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
}

.product {
  padding: 1rem;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--sale {
    background: var(--dark-red);
    color: var(--black);
  }

  &__price {
    color: var(--black);
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
  }

  &__heading {
    color: var(--black);
    margin: 0;
    font-size: 1.5rem;
  }

  &__image {
    font-size: 5rem;
  }
}

.basket {
  max-width: 20rem;
  background: var(--white);
  border-radius: 1rem;
  padding: 1rem;
  align-self: start;

  &__heading {
    color: var(--black);
    text-align: center;
  }
  &__list {
    padding: 0;
    list-style: none;
  }
}

.basket-item {
  margin: 0rem 0;
  padding: 0.5rem;
  color: var(--black);
  font-weight: bold;
  font-size: 1.2rem;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
    border-bottom: rem(2) solid var(--black);
  }

  &__buttons {
    margin: 0.5rem 0;
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
  &__button {
    font-weight: bold;
    &[disabled] {
      color: var(--white);
    }
  }
}
